.headerContainer {
  width: 100%;
  padding: 60px 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #f5ca3b;
  position: relative;
}

/* .headerContainer::after {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  bottom: -1px;
  border-style: solid;
  border-width: 60px 0 0 1000px;
  border-color: transparent transparent transparent white;
} */

.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
  margin-right: 6px;
}

.logoText {
  line-height: 1.1;
}

.logoText h1 {
  font-size: 28px;
  font-weight: 600;
}

.logoText h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.title {
  font-size: 28px;
  line-height: 1.1;
  margin: 20px 0;
}

.headerButton {
  border: none;
  background: #3a52f5;
  color: white;
  height: 50px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

.frameDiv img {
  margin-top: 48px;
  width: 80px;
}

.pagebody h1 {
  font-size: 18px;
  align-self: flex-start;
  line-height: 28px;
  margin-bottom: 22px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 1rem;
}

.sectionContainer img {
  margin: 60px 0;
}

.sectionContainer h1 {
  font-size: 18px;
  align-self: flex-start;
  line-height: 28px;
  margin-bottom: 22px;
}

.sectionContainer p {
  font-weight: 300;
  line-height: 21px;
  font-size: 14px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 1rem;
}

.footerContainer h1 {
  font-size: 18px;
  align-self: flex-start;
  line-height: 28px;
  margin-bottom: 22px;
}

.footerContainer p {
  font-size: 18px;
  align-self: center;
  line-height: 28px;
  margin-bottom: 22px;
  margin-top: 24px;
}

.footerContainer div {
  margin: 50px 0;
  align-self: center;
}

.footerContainer img {
  align-self: flex-start;
  flex-direction: column;
}

.footerContainer form {
  position: relative;
  align-self: flex-start;
}

.formInput {
  font-size: 12px;
  width: 226px;
  height: 40px;
  text-align: justify;
  color: #d7d7d7;
  border-radius: 0px;
}

.formMessage {
  font-size: 12px;
  width: 226px;
  height: 60px;
  color: #d7d7d7;
  border-radius: 0px;
  text-indent: 20px;
  text-align: center;
}

.footerContainer button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  width: 82px;
  height: 28px;
  font-weight: 500;
  background: #3a52f5;
  border-radius: 3px;
  color: white;
  align-self: unset;
}
